
scihandlers = {}

############################################################
#region authentication
import auth from "./authmodule" 
import data from "./datamodule"

############################################################
scihandlers.authenticate = auth.authenticateRequest

#endregion

{{#components}}
############################################################
#region {{{name}}}.coffee
{{{coffee}}}
#endregion

{{/components}}


export default scihandlers